[2016-07-12 18:55] hpdang opened #10 "Implement standard project workflow and testing"
In order to welcome more devs, we need to implement a standard workflow. Please:
* [ ] Set up a development branch and merge the dev branch once a week to master
* [ ] Add test frameworks (Which ones are suitable? travis, codecov, gemnasium, codeclimate..)

[2016-07-13 18:25] mariobehling opened #13 "Merge repositories to be more user friendly"
The readme.md already states "clone two repositories". Why we have two repositories then? Please merge the repos and import "apps" as a folder into this repo.

[2016-07-13 18:28] mariobehling opened #14 "Improve installation docs and Document how to set up the development environment"
Please improve the readme.md for that to start with.

[2016-07-13 18:31] mariobehling opened #15 "Implementation with browser web UI options"
What are the options to implement this project and make it accessible through the browser? This would have huge advantages in regards to the devices that can be used.

[2016-07-14 17:02] wavicles commented on #10
@hpdang  Thanks for the help and guidance with standard work-flow and testing frameworks.
I have added Travis CI test framework and the builds are passed.
[](https://travis-ci.org/fossasia/pslab)

[2016-07-14 17:03] wavicles commented on #10
@hpdang  I have also created development branch for both the repos pslab and pslab-apps

[2016-07-14 17:05] #10 closed

[2016-07-14 17:12] wavicles commented on #13
@mariobehling  Two separate repositories are created because,  if users are only interested in using PSLab as an acquisition device without a display, the don't need to download the huge graphics dependencies such as pyqt4, pyqtgraph and screenshots etc.

[2016-07-14 17:14] wavicles commented on #13
Some of the Debian package maintainers follow this method. But If required it is possible to merge  pslab-apps repo with pslab.

[2016-07-14 19:20] mariobehling commented on #13
@wavicles People can still use PSLab as an acquisition device and the code stays separate. Please just add it here into a folder. Debian people can still follow their procedure as well.

[2016-07-14 20:09] mariobehling commented on #13
@wavicles Actually this also depends on the question if there might be a chance to implement the whole thing as a web app that runs in the browser.

[2016-07-15 02:44] wavicles commented on #13
Yes. This is possible.  I will start working on this idea.

[2016-07-15 16:39] wavicles commented on #15
@mariobehling  Yes. It is possible to make PSLab accessible through the browser . We will soon start working on this idea.
For web app Django will be a better option. It can also be done with existing framework, wherein one needs to use HTML and JQUERY. I think Django might be more efficient option.

[2016-07-15 16:42] wavicles commented on #15
@mariobehling  At present I am working on remote access. This can be done in two/three different options
A) CherryPy based web server
this is a REST framework, where commands can be executed using a web browser
e.g. 192.168.1.1:8888/get_voltage('CH1') , where a machine with IP address 192.168.1.1 must be running PSLab , and be connected on the network
B) PubNub
Pubnub is a service for IoT devices.

[2016-07-15 17:37] wavicles commented on #14
@mariobehling  Updated readme.md

[2016-07-21 10:09] wavicles commented on #13
@mariobehling  For implementing the whole thing as a web app, some sort of server needs to be present for hosting the files, right?

[2016-07-21 10:10] wavicles commented on #13
If we want PSLab to be used as stand alone tool, then the server and wifi needs to run on PSLab itself. In which case, an ESP8266 module can be added to PSLab board and server code must be uploaded on to it.

[2016-07-21 12:24] mariobehling commented on #13
Well, ok, it is possible to build a device, but then the goal is not anymore to run it on any PC. So, this would mean PSLabs comes on a Raspi or similar with a wifi chip. Then it cannot be simply installed on a PC. So, what really needs to be defined is the use case and ask ourselves: What do people have available to get them started? PC, mico-computers like Raspis, mobile phone? Who do you want t

[2016-08-22 18:31] #14 closed

[2016-11-01 13:47] Jaminy commented on #15
Hi,
I would like to work on this and I hope it would  be helpful for everyone to get accessed.

[2017-03-15 11:33] wavicles opened #35 "Develop an Android App for PSLab Experiments"
There are a number of experiments currently running with PSLab. These are written as desktop experiments in Python. The next phase of the project enables users to make use of their mobile phone. Please propose an architecture, that does not necessarily require a server and offers teachers and students a way to make full use of the PSLab architecture.

PSLab is a new addition to FOSSASIA Science La

[2017-03-15 17:12] mohitmanuja commented on #35
I am trying to understand this project, can you provide me with some pointers from where I can understand how input is received in mobile.

[2017-03-15 17:34] jithinbp commented on #35
Hi,

There are two approaches to this, given the hardware architecture currently
being used.
A) port the python communication library as well as apps to Java . This
will enable running PSLab on OTG enabled android phones (most modern phones
have OTG support)
The device needs to be physically connected to the phone via a cable.

B) utilise the provision in the hardware to add an ESP8266 WiFi module

[2017-03-15 18:59] viveksb007 commented on #35
@jithinbp I agree with the standalone web-server approach as it prevents writing communication interface for every platform it needs to be compatible with.
So we need to write CGI callbacks that server on ESP8266 would host. This eliminates the need for an Android App as we can access it directly through browser. We can use it with any platform like Android, iOS, Windows. But for someone who doesn

[2017-03-16 03:48] akarshan96 commented on #35
I think using ESP module for communication between the Android Smartphone and PSLab is better option @jithinbp. I agree @viveksb007, this will allow PSLab to communicate with any platform hence widens the future scope and will support further developments.

[2017-03-16 05:43] mohitmanuja commented on #35
@jithinbp
Going with approach 'A' will not be difficult but it will be a replicating the same task which already has been done, we might need to do this for other platforms, we can put this energy to make pslab better and also, it will require synchronization the way things are getting done on each type of platform, so it should be the least priority if aren't left with any other options.

[2017-03-19 06:13] mohitmanuja commented on #35
@wavicles @jithinbp Hey, Please read my above reply and help to get started.

[2017-03-20 16:04] viveksb007 opened #36 "add steps in readme to generate documentation and complete PSL.SENSORS.rst file"
Add steps in readme to generate documentation. And modify PSL.SENSORS.rst to produce documentation of SENSORS subpackage also.

**Currently** : Sensors documentation is not generated & steps to produce documentation is not mentioned in readme.

**I would like to send a PR to solve this.**

[2017-03-21 12:37] wavicles opened #37 "Add Open Firmware and Hardware Schematics"
#https://github.com/fossasia/labs.fossasia.org/issues/205

For the PSLab project we need a completely Open firmware and hardware schematics. There are already schematics in pdf format. In order to progress to the next level of development these files need to be implemented in code and added to the repository.

Please create a list of features for the firmware and sample implementations for tests.

[2017-03-21 13:22] wavicles commented on #36
@viveksb007 Please go ahead and send the PR.

[2017-03-21 15:51] #36 closed

[2017-03-22 16:54] viveksb007 opened #39 "remove existing bugs and format code according to pep8 styling guidelines"
There are many instances of assignment of variables with a trailing semi-colon ';' , it doesn't raise any error but is avoided in python.

There are other bugs like
- functions used without importing the necessary module
- error in variable referencing

**I would like to send a PR after fixing above bugs and code formatting according to pep8 python styling guidelines**

[2017-03-25 14:19] #39 closed

[2017-04-07 00:08] mariobehling opened #41 "Should repository be renamed to pslab-python"
There are several components to PSLab. Currently this repository is holding the code for the python project. Therefore it would probably be better to rename this repository to pslab-python.

[2017-04-07 17:15] wavicles commented on #41
@mariobehling Yes. it will be better to rename the repo and make necessary changes. @jithinbp ??

[2017-04-07 17:22] jithinbp commented on #41
Yes, i agree. We should rename to PSLab-Python or something more specific.
Please do the needful

Thanks,
Jithin

On 7 Apr 2017 10:45 p.m., "Praveen (Gnovi)" <notifications@github.com>
wrote:

@mariobehling <https://github.com/mariobehling> Yes. it will be better to
rename the repo and make necessary changes. @jithinbp
<https://github.com/jithinbp> ??

—
You are receiving this because you were men

[2017-04-07 22:08] mariobehling commented on #41
Done. Thanks.

[2017-04-07 22:08] #41 closed

[2017-04-07 22:11] mariobehling opened #42 "Delete not required files - Only keep Python Projects"
This repository holds files that are not directly relevant for the Python project. Please delete files that are not required, e.g. Schematics or anything else you might find.

[2017-04-07 22:32] mariobehling commented on #37
We have dedicated repositories for this now. Closing it.

[2017-04-07 22:32] #37 closed

[2017-04-07 22:33] #13 closed

[2017-04-07 22:35] mariobehling opened #43 "Add relevant documentation into /docs and copy anything relevant from blog"
The blog is a good point to attract interest of developers. Documentation about installation etc. that can be updated should be kept in a folder /docs.

Please copy the relevant documentation from the blog to /docs, add it as md files and update it where needed.

Keep images in /docs/img/

[2017-04-08 03:09] jithinbp commented on #35
I think we should stick with the native android app option, as we already have developers who seem up to the task. Open to suggestions.

@mohitmanuja I believe the ESP option also ties us down to the capabilities of the ESP. The user will need to power the device through a separate adapter, as the ESP consumes up to 300mA. The device otherwise consumes <130mA .   We have already covered the PC pla

[2017-04-10 14:06] #42 closed

[2017-04-14 07:40] jithinbp opened #45 "Add Calibration Utility"
The PSLab unit's analog and digital features must be calibrated in order to make it accurate.
The [ADS1115 16-bit ADC](http://www.ti.com/lit/ds/symlink/ads1113.pdf) is a 4-channel, 0-3.3V ADC that can be interfaced via I2C . Typical initial accuracy of the internal voltage reference 0.01% and  data rates higher than 500SPS are possible. It is cost effective, and convenient breakout boards that can

[2017-04-16 05:36] viveksb007 opened #48 "accessing invalid reference in sciencelab.py"
accessing CP.SET_ONBOARD_RGB from commands_proto.py [here](https://github.com/fossasia/pslab-python/blob/development/PSL/sciencelab.py#L3713) and there on no reference of SET_ONBOARD_RGB on commands_proto.py [here](https://github.com/fossasia/pslab-python/blob/development/PSL/commands_proto.py)

[2017-04-16 05:43] jithinbp commented on #48
There are bound to be many such relics . I was eliminating features that
didn't work/were required. So some constants must be leftover.
It'll have to be compared with what's in the firmware, but we can do that
later

On 16 Apr 2017 11:06 a.m., "Vivek Singh" <notifications@github.com> wrote:

[2017-04-17 11:06] souravsingh commented on #43
Should we go with Sphinx docs for the documentation?

[2017-04-17 11:24] jithinbp commented on #43
I believe Python-PSLab is already set up to use Sphinx

On Mon, Apr 17, 2017 at 4:36 PM, Sourav Singh <notifications@github.com>
wrote:

--
 jithin

[2017-04-17 11:29] mariobehling commented on #43
It would be good to generate the site using travis and sphinx at pslab.fossasia.org/docs/pslab-python and the other repositories in the same structure.

[2017-04-17 16:01] akarshan96 opened #49 "Issues related to TSL2561.py"
GAIN_0X is used [here](https://github.com/fossasia/pslab-python/blob/development/PSL/SENSORS/TSL2561.py#L85) but it's value is never declared.

Also, refer  [this](https://github.com/fossasia/pslab-python/blob/development/PSL/SENSORS/TSL2561.py#L102). I think the sleeping time should be 14ms but mentioned 140ms.
It should be `time.sleep(0.014)`

[2017-04-17 16:46] jithinbp commented on #49
I think we should raise issues for most of the SENSOR classes . They were designed to do the bare minimum of acquiring data , but most sensors have a lot of additional functionality, and we need to pick and choose and implement necessary methods for configuring the sensors.

In addition , these configuration methods must be mentioned in a dictionary element called 'Params' along with a list of all

[2017-04-18 05:10] akarshan96 commented on #49
@jithinbp Thanks, this gave a lot of clarity.

[2017-04-18 17:21] viveksb007 opened #50 "add reference of values in MCP4728.py"
Add reference for values dictionary in MCP4728.py

[2017-04-18 17:25] viveksb007 opened #52 "correct sleep time in TSL2561.py"
correct sleep time value in TSL2561.py

[2017-04-18 18:15] #50 closed

[2017-04-18 18:18] #52 closed

[2017-04-26 14:13] viveksb007 opened #53 ""PSLab" comparison is wrong in runInitSequence function"
5 bytes instead of 9 are required for comparison after reading from Flash .
https://github.com/fossasia/pslab-python/blob/development/PSL/sciencelab.py#L183

[2017-04-26 14:16] viveksb007 commented on #53
@wavicles @jithinbp would there by any other change?
As first entry is skipped in adc_slopes_offsets, so i don't think there would be any other change required.

[2017-04-26 15:43] akarshan96 opened #54 "Role of RPi.GPIO library in MF522.py"
[Here](https://github.com/fossasia/pslab-python/blob/development/PSL/SENSORS/MF522.py#L166), 22 pin of Raspberry pi is set high. I can't get the use of the RPi.GPIO library in MF522.py.

[2017-04-26 16:35] viveksb007 commented on #54
@akarshan96 PSLab device is compatible with raspberry pi too. As this is python communication library, and Pi has OS based on Linux. So this particular sensor might have been tested with Pi.

[2017-04-26 16:44] jithinbp commented on #54
Hi,
It looks like partially ported code from RPi, and the function
'MFRC522_Init()' should be deleted.
I have tested the RFID reader with this library , and the relevant
initialization registers are configured in the __init__ routine of the
Python library itself.
The RPi.GPIO import should also be removed. Please compare with the library
<https://github.com/jithinbp/SEELablet/blob/master/SEEL/SENS

[2017-04-26 17:21] jithinbp commented on #53
Oh, those are also leftover relics.   @akarshan96 @viveksb007
The devices I gave you guys have the initial calibration string starting with 'SEELablet' , so I suppose you can compare against that, and it will read the calibration string properly.
Reading the calibration data is important for it to deliver accurate results . The offsets and slopes of the Op-amp stages can cause errors up to 40-50mV

[2017-04-26 17:55] akarshan96 commented on #54
@jithinbp Thanks, I will make required changes.

[2017-04-28 15:59] souravsingh commented on #45
@jithinbp Is the issue fixed? I would like to help fix the issue.

[2017-04-28 16:28] sabirma commented on #45
I'm working on this one. Got half of it covered already.
We'll find something else for you

[2017-04-28 16:30] jithinbp commented on #45
I'm working on this one. Got half of it covered already.
We'll find something else for you

[2017-04-30 11:10] jithinbp opened #55 "Automatic generation of Menus in Sensor Data logger"
In the present scenario most sensors have several configuration options, and these are defined in a dict element called 'Params'  in each sensor's class. The Sensor data Logger application uses this dictionary to autogenerate menus with the 'key' as the name , and corresponding 'values' as a submenu . When the user opens a menu and clicks on a 'value' , the 'value' is passed to a function whose na

[2017-04-30 11:16] asitava1998 opened #56 "Qmenu modification for functions without arguments"
The current workaround for functions which do not require arguments is using a dummy variable while creating a Qmenu.

[2017-04-30 11:18] #56 closed

[2017-05-06 04:03] jithinbp opened #58 "Convert capture method for sensor oscilloscope into a non-blocking call"
The [capture](https://github.com/fossasia/pslab-python/blob/development/PSL/Peripherals.py#L378) method for acquiring time critical datasets from sensors is currently a blocking call. This freezes up GUIs that may become unresponsive if acquisition length is of the order of seconds.

I propose to modify the same into three separate functions
 - Function to initialize the acquisition process. Argum

[2017-05-06 12:47] jithinbp opened #59 "Communication library for MPU925x 10-DOF Inertial Measurement Unit"
Add support for MPU-925x MotionTracking device series by InvenSense.
This sensor has 9 degrees of freedom measurement
- 3-Axis Accelerometer
- 3-Axis Gyroscope
- 3-Axis Magnetometer
It also has a built in temperature sensor

The magnetometer resides on the same chip, but has a separate I2C address.

[2017-05-08 21:37] #55 closed

[2017-05-08 21:37] #58 closed

[2017-05-08 21:37] #59 closed

[2017-05-09 03:45] #53 closed

[2017-05-09 03:45] #49 closed

[2017-05-09 09:04] #45 closed

[2017-05-09 16:45] viveksb007 opened #60 "error in loop range in I2C capture function"
https://github.com/fossasia/pslab-python/blob/development/PSL/Peripherals.py#L608
Loop range should be (total_chans * channel_length)/2

[2017-05-09 16:49] jithinbp commented on #60
That function has been replaced by three different functions now(all three
tested with mpu6050 sensor).
 I'll rewrite `capture` in terms of those three .
Thanks

On 9 May 2017 10:15 p.m., "Vivek Singh" <notifications@github.com> wrote:

[2017-05-28 05:48] asitava1998 opened #61 "Implementing a new feature of trigger modes"
**Description**
We can add the various types of trigger modes found in the oscilloscopes used in Labs. They are as follows:-
A. Auto - This trigger mode allows the oscilloscope to acquire a waveform even when it does not detect a trigger condition. If no trigger condition occurs while the oscilloscope waits for a specific period (as determined by the time-base setting), it will force itself to tri

[2017-06-03 16:03] jithinbp opened #62 "Add support for Long range wireless communication in SENSORS"
The NRF wireless transceiver modules currently supported in the firmware have reliable working ranges up to 100 metres, but are generally suited for short range acquisition tasks.
The [SX1276 chipset](http://www.semtech.com/wireless-rf/rf-transceivers/sx1276/) from Semtech allows long range transmissions up to 15kms line of sight while being extremely power efficient at the same time.
Its frequenc

[2017-06-06 07:02] jithinbp commented on #61
Currently, the indefinite wait-for-trigger option is not available. Which means only the No-trigger, Auto-trigger and scan modes are available.
I will raise this as a firmware issue.

[2017-06-06 07:06] asitava1998 commented on #61
@jithinbp Yes sure. Even I was facing a problem when I was testing my code with a function generator and the PSLab as an oscilloscope.

[2017-06-08 17:47] jithinbp opened #64 "add transaction method for PSL.SPI"
Implement a single function call to exchange small chunks of data via the SPI bus
e.g.
[code]

[2017-06-08 18:08] #62 closed

[2017-06-08 18:08] #64 closed

[2017-06-08 18:12] jithinbp commented on #35
This work has been taken up in a separate repository that is being actively maintained.
It is located at [fossasia/pslab-android](https://github.com/fossasia/pslab-android) , and this issue can now be closed.

[2017-06-08 18:12] #35 closed

[2017-06-09 06:09] #48 closed

[2017-06-09 17:21] jithinbp opened #66 "Remove explicit reference to Python3 in setup.py"
setup.py tries to install using python3 , but this explicit enforcing breaks the Travis builds for [fossasia/pslab-desktop-apps](https://github.com/fossasia/pslab-desktop-apps) which depends on this library
This must be removed for the travis build to be successful

[2017-06-11 07:31] jithinbp commented on #60
merged via #67

[2017-06-11 07:31] #60 closed

[2017-06-12 05:20] #54 closed

[2017-06-12 12:22] #66 closed

[2017-07-03 06:25] jithinbp opened #72 "sciencelab.capture_multiple does not return correct data"
https://github.com/fossasia/pslab-python/blob/development/PSL/sciencelab.py#L593

This function is meant to be used as an oscilloscope where > 4 channels need to be recorded. Up to 4 channels can be simultaneously sampled using capture_traces instead.

The function accepts channel names as extra arguments, and the firmware scans through a sorted list of specified channels . The retrieved buffer mu

[2017-09-14 09:15] souravsingh commented on #15
I believe this fixed through this- https://github.com/fossasia/pslab-remote

[2018-03-01 15:45] gabru-md opened #73 "x.setOffset() is missing"
In the file : `achan.py` on `line 128` it says
[code]
but in the `class analogInputSource` there is no such function. Is it missing by mistake or by purpose?
Can someone clarify? If it is needed to set values of `self.defaultOffsetcode` then I can do the same.
ping @jithinbp @CloudyPadmal

[2018-03-15 14:10] CloudyPadmal opened #74 "Provide support to old and new device IDs"
Desktop application selectively supports devices with ID starting from `CS`. They need to support devices bearing `PSLab` device ID

[2018-04-09 04:29] #74 closed

[2018-08-12 13:42] CloudyPadmal opened #76 "Update README"

[2018-10-14 08:29] CloudyPadmal opened #78 "Document the Python Library"
The python library containing all the back-end functions used in PSLab has no documentation. [sciencelab.py](https://github.com/fossasia/pslab-python/blob/development/PSL/sciencelab.py) script has most of the functions and these functions need to be documented so that users can refer to them easily.

Expectation:
Prepare documentation for each function in a markdown file inside PSL directory

[2018-10-14 08:32] #76 closed

[2018-10-16 03:40] IgorWilbert commented on #78
I'm interested on this issue. Could you give me some model or more information?

[2018-10-16 07:13] CloudyPadmal commented on #78
Hello @IgorWilbert ! Thank you for your interest. I would recommend a model as follows;

<details>
<summary><code>Python method name with parameters</code></summary><br />

- Description of the method
- Parameters and the values they can take
  - One list item per each parameter
  - ...
- Return values and their meaning
</details>
<details>
<summary><code>Another method</code></summary><br />

- D

[2018-10-17 02:07] IgorWilbert commented on #78
@CloudyPadmal I'm trying to expand my network. Could you please follow me? I follow you back.

[2018-10-25 13:56] cclauss opened #83 "Undefined names:"
[flake8](http://flake8.pycqa.org) testing of https://github.com/fossasia/pslab-python on Python 3.7.1

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2018-10-26 09:07] somiljain7 commented on #83
![screenshot from 2018-10-26 14-36-47](https://user-images.githubusercontent.com/42209500/47556691-a08a3280-d92c-11e8-8625-a7bb336876a6.png)

[2018-10-26 09:09] somiljain7 commented on #83
can i try to work upon this issue

[2019-03-14 06:29] gdampf opened #87 "ubuntu/budgie: ModuleNotFoundError: No module named 'sip'"
Installed pslab and pslab-apps succesfully with no errors, but starting Experiments ends up in a stack-trace reg. not found modules (at least sip and apt-pkg was mentioned).
Before posting endless traces: Does anybody made the same experience?
I have several versions of python installed (2.7, 3.6 and 3.7 at least) and tried this within the 2.7-Environment as well as in 3.7, with the same result. W

[2019-03-16 16:12] gdampf commented on #87
Ohhh, what a lousy description.
I managed to get some of the dependencies solved, but when starting, I got the following errors) see below).
IMHO, I struggling with versions! I'm using python3.6 and PyQt5, so I installed pyqt5-dev-tools instead of Version 4 - does this matter?

Did anybody managed to get this running on ubuntu with python 3.6 and PyQt5?

Here, the errors (the gui is displayed, but

[2019-03-16 16:12] #87 closed

[2019-04-05 15:58] prateekj117 commented on #78
@CloudyPadmal I would like to work on this issue.

[2019-04-16 20:46] fragm3 opened #88 "Add documentation to Fix permission for make file"
Add documentation to Fix permission for make file for documentation.

[2019-04-20 19:50] fragm3 commented on #78
@CloudyPadmal I would like to take this up.

[2019-05-08 18:39] CloudyPadmal opened #91 "Library support for Windows"
We need some modifications to get the library working with Windows.

[2019-05-08 18:42] #91 closed

[2019-05-10 17:14] CloudyPadmal opened #93 "Update the sensorlist file"
[sensorlist.py](https://github.com/fossasia/pslab-python/blob/development/PSL/sensorlist.py) file is a bit outdated and there are lot of new sensors in the market. [Adafruit I2C List](https://learn.adafruit.com/i2c-addresses/the-list) is fairly updated and trustworthy to take as a reference.

We need to update the [sensorlist.py](https://github.com/fossasia/pslab-python/blob/development/PSL/sensor

[2019-05-11 09:16] CloudyPadmal opened #94 "Reformat and upgrade source code"
Python 2.7 is being depreciated and so does the supporting libraries. We need to upgrade the app with new libraries and python 3.7

[2019-05-11 09:19] #78 closed

[2019-05-13 09:28] #94 closed

[2019-05-14 03:14] CloudyPadmal opened #97 "Release V1.1.0 and Update master branch"
Master branch is outdated and the stable library in development needs to be merged into master branch.

[2019-05-14 06:04] CloudyPadmal commented on #15
Electron app is being built and it will address this issue.

[2019-05-14 06:04] #15 closed

[2019-05-18 12:23] AakashMallik opened #100 "Update Sphinx docs for the latest version of PSLab PCB pin layout"
The docs are outdated with the names having a mismatch with the current PCB layout of PSLab.
A lack of examples in the doc also makes the use of this library hard.

[2019-05-22 20:06] AakashMallik opened #101 "Problem while using fft funtion in the analyticClass"
The **fft** funtion from the **analyticClass** of PSL has a fundamental issue that leads to **type error**

[code]

The 3rd last and 2nd last line of the code should be
[code]

[2019-06-27 16:54] CloudyPadmal opened #102 "Refactor code base to release on pip"
We need to give proper reformatting and documentation before we make a release on pip to make it super easy to install pslab-python

[2019-07-28 05:50] AakashMallik opened #105 "byte variable needs to be type casted to int for LA functions"
The variable **byte** in sciencelab.py needs to be type cast to int while using it for np.zeros() function.

[2019-07-28 06:17] #105 closed

[2019-08-05 15:09] neel1998 opened #107 "Error in I2C readBulk() function"
script fails when I2C.readBulk() is called

[2019-08-05 15:25] #107 closed

[2019-10-30 05:23] bhadreshpsavani commented on #101
Can I work on this issue?

[2019-10-31 14:47] bhadreshpsavani commented on #101
I have created [pull](https://github.com/fossasia/pslab-python/pull/109) request with the changes you suggested.

[2019-11-04 00:46] sd8917 opened #110 "card style improvement"

[2019-11-04 00:47] sd8917 commented on #110
can i change the card style of different event?

[2019-11-04 17:42] bhadreshpsavani commented on #93
I am working on this issue

[2019-11-05 04:01] bhadreshpsavani commented on #83
This issue can be resolved if we pass 'v' and 't' as a parameter to the sineFit2 function in the [file](https://github.com/fossasia/pslab-python/blob/development/PSL/analyticsClass.py).

Let me work on this.

[2019-11-05 04:11] bhadreshpsavani commented on #73
i think this will not create any problem because in [achan.py](https://github.com/fossasia/pslab-python/blob/development/PSL/achan.py), `line 128`  in `x.setOffset(1.65)`  is commented

@CloudyPadmal shall we close this issue or make some changes?

[2019-11-05 04:23] cclauss commented on #83
I added these tests to Travis CI in #112

[2019-11-05 16:53] #83 closed

[2019-11-05 16:54] #93 closed

[2019-11-06 08:13] bhadreshpsavani commented on #101
Hey @CloudyPadmal
Can you close this issue, this issue has been resolved

[2019-11-06 16:43] bhadreshpsavani commented on #100
Hey @AakashMallik Where can we find this doc having PCB layout of PSLab

[2020-05-17 11:56] Jayant-tembhurkar commented on #110
can i work on it?

[2020-05-17 11:57] Jayant-tembhurkar commented on #97
can i look into it

[2020-05-18 09:51] CloudyPadmal commented on #110
I wonder what this issue is about. This repo is a backend and not sure where a card comes in :thinking:

[2020-05-18 09:51] #110 closed

[2020-06-03 06:53] bessman opened #115 "Custom exception handling makes troubleshooting difficult"
Throughout PSL, this is a common pattern:
[code]
This makes troubleshooting difficult for several reasons:

1. First and foremost, self.raiseException is not python3-compatible, so anytime it is called the original error is lost and an unrelated AttributeError is raised instead.
2. self.raiseException is called from within classes which do not implement it ([for example](https://github.com/fossasi

[2020-06-03 11:00] bessman opened #116 "Add unit tests"
PSL lacks unit tests. I'm interested in writing them, if you think they would be useful to the project.

- [ ] Add unit tests for Peripherals
- [x] Add unit tests for achan
- [ ] Add units tests for analyticsClass
- [ ] Add unit tests for commands_proto
- [ ] Add unit tests for digital_channel
- [x] Add unit tests for packet_handler
- [ ] Add unit tests for sciencelab
- [ ] Add unit tests for sens

[2020-06-03 17:22] mariobehling commented on #116
This would be great. We would also like to invite you to our weekly meeting at 5 pm CET on Saturdays to discuss details and find out how we could involve you more. Please join the call here https://meet.jit.si/fossasia-hw

[2020-06-05 13:59] bessman commented on #116
Thanks for the invite! I might not be able to join tomorrow though. If not, I'll join next week.

[2020-06-13 20:25] #115 closed

[2020-06-30 18:03] BassCoder2808 commented on #43
@mariobehling  Do you want to create a blog site and then add the .html file into the docs or simply create a .md file and add some images into the docs folder.
It would be really helpful if you can guide me through this because I would like to contribute into this project.

[2020-07-05 15:46] JohnnnyJohnnny opened #123 "LinuxMint: Sciencelab refuses to connect due to insufficient rights"
The hardware registers itself as serial device. Unfortunately serial devices are part of the group dialout and the default user on my system (and probably other) doesn't have access rights to it.

So, you need root rights or you need to add your user to the dialout group:
`sudo usermod -a -G dialout MY_USER_NAME`

I don't know if Mint is special in this case, but I would recommend to add something

[2020-07-25 17:28] bessman commented on #123
Hi Johnnny, thank you for the report.

Manually adding your user to the dialout group should not be necessary, and is likely required because the udev rules were not installed correctly. Looking at it now, I  think the Makefile included with PSL actually installs the rules incorrectly; it creates a file in /lib/udev/rules.d/ called 99-pslab, which udev will ignore because it does not end with .rul

[2020-07-25 17:48] #123 closed

[2020-07-25 17:49] #101 closed

[2020-07-26 15:49] bessman opened #127 "Split up sciencelab.py into smaller modules"
The Sciencelab class is currently almost 4000 lines long. It is actually so long that Codacy [ignores it](https://support.codacy.com/hc/en-us/articles/360025964333-File-size-limitation) when checking code quality.

As a rule of thumb, I like to keep classes under 500 lines or so. I intend to split the Sciencelab class into smaller classes based on individual instruments, like Multimeter, Oscillosc

[2020-08-16 08:16] 19-pragya commented on #102
Can i work on this??

[2020-08-16 09:06] bessman commented on #102
Go ahead. I'm currently refactoring the logic analyzer functionality, so if you want you can take a look at the waveform generator, the power supply, the multimeter, the motor controller, or the I2C or SPI peripherals.

[2020-08-16 09:29] 19-pragya commented on #102
Ok thanks

[2020-08-16 10:32] bessman commented on #102
Some pointers:
- A lot of functionality is currently concentrated in the ScienceLab class. It's too big, so a good start is to move functionality out of there to its own module.
- We currently do not have a lot of unit tests. However, any new or refactored functionality should have unit tests written with `unittest`.
- For code style, adhere to flake8 and black, with PEP8 as the overarching style

[2020-08-16 14:29] 19-pragya commented on #102
as this is my first time can you tell me the codebase used?

[2020-08-16 14:37] hongquan commented on #102
Any reason that `unittest` is preferred over `pytest`?

With `pytest`, we can incorporate other checking like `flake8`, `doctest` into one run. Code for `pytest` also look nicer with pep8-compliant function names (`setup` instead of `setUp`, `teardown` instead of `teardown`), and shorter `assert` calls.

[2020-08-16 15:34] bessman commented on #102
I agree, and generally prefer pytest to unittest. However, this project relies heavily on pyserial for communication, which means we need to the serial connection during testing. For mocking, specifically, I find unittest.mock superior to pytest's monketpatch.

[2020-08-16 16:03] bessman commented on #102
I'm not sure I understand your question. The codebase is what is contained in this repository. Can you be more specific?

[2020-08-16 16:37] 19-pragya commented on #127
can i work on this?

[2020-08-16 17:34] bessman commented on #127
Sure. Like I said on #102, any module except for the logic analyzer is up for grabs.

[2020-08-18 14:04] bessman commented on #73
Closing this since the recent achan refactorization removed this line.

[2020-08-18 14:04] #73 closed

[2020-08-18 14:06] bessman commented on #72
This should have been closed as of a5b955d.

[2020-08-18 14:06] #72 closed

[2020-08-18 16:32] The-Compiler commented on #102
Note you can use `unittest.mock` together with pytest as well. Either directly, or via the [pytest-mock plugin](https://github.com/pytest-dev/pytest-mock). I'd recommend the latter as it nicely integrates things with a `mocker` pytest fixture, which then undoes the patching properly without having to rely on a `unittest.mock.patch` decorator.

FWIW I personally prefer `monkeypatch` or pre-made moc

[2020-08-18 18:43] hongquan commented on #102
Yes, if the only reason you are tied with `unittest` is `unittest.mock`, then just use `pytest` + `pytest-mock` combo.

[2020-08-18 20:48] bessman commented on #102
Interesting, I was not aware of `pytest-mock`. Thanks for the suggestion, I'll look into it!

[2020-08-30 13:56] bessman opened #133 "Resource manager"
Certain functions share the same hardware resource. For example, the oscilloscope and the logic analyzer both use the ADC buffer, which means they cannot be used at the same time. Another example is the pulse counter, which shares a timer with the logic analyzer.

We should create a resource manager to keep track of this, to prevent users from accidentally using multiple functions which use the sa

[2020-09-01 16:53] gr8geek commented on #133
@bessman I am willing to work on this issue

[2020-09-24 06:51] shrey-3108 commented on #133
i would like to work on that

[2020-09-24 06:56] bessman commented on #133
Feel free. To start with, we need to compile a list of available hardware resources. Then, we will need a list of which firmware features use which hardware resource.

Be advised that this task is not beginner friendly. It requires a deep understanding of the PSLab on the software, firmware, and hardware level. Prerequisite skills are electronics and hardware development, C, and Python.

[2020-09-25 12:11] chrvoigt commented on #102
hi all,  using pslab-python on a  Macbook (Mojave) should be OK, right? I've installed the library as per readme.md and connected the device (through USB-C). And get an Error message (see below) ... so  it's not connecting.   Would you say it's my local setup? Or anything else I could try to get it connected? btw the same error happens if I 'npm start' the desktop app (saying 'no device connected'

[2020-09-25 12:15] chrvoigt opened #135 "Connecting PSLab (serial vs pyserial)"
hi all, using pslab-python on a Macbook (Mojave) should be OK, right? I've installed the library as per readme.md and connected the device (through USB-C). And get an Error message (see below) ... so it's not connecting. Would you say it's my local setup? btw the same error happens if I 'npm start' the desktop app (saying 'no device connected' in the UI)
Thanks for any pointers as to what else I s

[2020-09-25 12:17] bessman commented on #135
You may have installed [serial](https://pypi.org/project/serial/) instead of [pyserial](https://pypi.org/project/pyserial/).

[2020-09-25 14:21] chrvoigt commented on #135
yes indeed - thanks for the hint !

I had both installed and there was a namespace conflict ..
So a dedicated virtualenv did the trick and then 'pip freeze' confirmed that PSL and pyserial are included.

... and now the electron app is running too 👍

I changed the title (since the issues was about python modules),  in case someone experiences this as a first hurdle when trying to connect.

[2020-09-25 14:21] #135 closed

[2020-09-26 15:43] orangecms opened #136 "simplify the I2C API"
- Currently, we need to pass the I2C address for every API call to the I2C bus. It would be great to have a simpler API where you could instead initialize a class with the address and keep using the object for further operations.

- When reading a single byte, we need to take it from an array for each read. A simpler `read_single` would be great, or maybe `read_16` etc in addition for two bytes at

[2020-10-01 02:07] Maxz2136 commented on #133
I am new to this project, but upon reading this issue, I wonder can locking mechanism like semaphore help achieve the synchronization between firmware features using the same hardware resource?

[2020-10-01 07:40] nkpro2000sr commented on #136
i would like to work on this :hand:

[2020-10-01 08:54] orangecms commented on #136
Nice, thank you! Please file a PR. :)
For some inspiration, you can compare with MicroPython's API.

[2020-10-02 04:44] AbhinavMathur29pers commented on #102
can I work on the documentation and reformatting?

[2020-10-02 07:43] CloudyPadmal commented on #102
Hello @AbhinavMathur29pers , sure you can. Please go ahead :+1:

[2020-10-05 14:56] bessman opened #140 "Update pin names"
Change all instances of

- ID1/2/3/4 -> LA1/2/3/4
- SEN -> RES
- AN8 -> VOL
- CNTR -> FRQ
- W1/2 -> SI1/2

[2020-10-05 21:19] MLJBrackett commented on #140
Hey @bessman I would like to do this, could you assign it to me?

[2020-10-07 09:09] Nanak360 commented on #140
I would like to work on it. It will be very helpful if I could get a little more information.
![Screenshot (275)](https://user-images.githubusercontent.com/36790357/95310992-ade72000-08aa-11eb-8114-732507f12d0e.png)
![Screenshot (276)](https://user-images.githubusercontent.com/36790357/95310996-ae7fb680-08aa-11eb-8fca-887a6ec84e66.png)

I see many instances of ID1, ID2, SEN
Should I change them al

[2020-10-07 09:14] bessman commented on #140
Thanks! Yes, that's right. Every instance in every file.

[2020-10-07 09:20] Nanak360 commented on #140
All right, I'll work on it. Would you please assign me?
I would also like to know if this contribution will be a part of Hacktoberfest.

[2020-10-07 09:22] bessman commented on #140
Sure, we can opt in and tag your pull request as hacktoberfest-approved.

[2020-10-07 10:58] Nanak360 commented on #140
@bessman I have changed each and every instance from all the files and created a pull request. Please guide me through, what do I do now for the Hacktoberfest part.

[2020-10-07 11:24] bessman commented on #140
Fixed by #141.

[2020-10-07 11:24] #140 closed

[2020-10-07 16:28] orangecms opened #142 "explain installing pslab-python to the system and setting PYTHONPATH"
see also https://github.com/fossasia/pslab-documentation/pull/119#issuecomment-705048446

For PSLab desktop app users, especially on Windows, connecting pslab-desktop to pslab-python needs some more information.

[2020-10-07 17:05] bessman commented on #142
I wonder if we could simplify the windows instructions. Theoretically, the Linux instructions should actually be platform independent.

We should test if
[code]
works on Windows and Mac. If it does, we could cut most of the current installation instructions entirely.

[2020-10-07 18:42] vaibhavarora102 commented on #127
@bessman
i am participant for codeheat can do work on this ?

just to clarify:
we had to divide class in smaller classes and then again access them by some parent class?
am i right

[2020-10-08 10:07] vaibhavarora102 commented on #127
It's having 1732 lines

[2020-10-08 11:29] bessman commented on #127
Hi @vaibhavarora102! Of course, you are welcome to work on this 😃.

I've already refactored out the oscilloscope and logic analyzer, which were about a thousand lines each. Remaining modules which should be refactored out are:

- Waveform generator (which I'm currently working on)
- Power supply
- Multimeter
- Motor controller (which depends on the waveform generator)

Refactoring a module include

[2020-10-08 14:42] vaibhavarora102 commented on #127
@bessman  should I continue with wave form that would be done by you
Thanks

[2020-10-08 15:14] bessman commented on #127
I'll keep working on the waveform generator. You can go ahead with either the multimeter or the power supply. Of the two, the multimeter is significantly more complicated, so it is probably a good idea for you to start with the power supply.

[2020-10-11 18:00] #136 closed

[2020-10-14 06:37] bessman commented on #142
As pslab-python is now on [pypi](https://pypi.org/project/pslab/), installing should now be as simple as `pip install pslab`, regardless of operating system.

[2020-10-14 06:37] #142 closed

[2020-10-14 06:39] bessman commented on #102
Closing this issue since pslab-python is now on [pypi](https://pypi.org/project/pslab/). Code refactorization is still in progress and is tracked in #127.

[2020-10-14 06:39] #102 closed

[2020-10-14 12:12] CloudyPadmal opened #145 "Handling scenarios where no devices are connected"
When a user tries the PSL library without any device connected, the following error message is thrown.

[code]

@bessman May be we better handle it gracefully?

[2020-10-14 12:15] bessman commented on #145
What behavior would you prefer? pslab-python currently offers no functionality without a connected device, so a "Device not found" exception seems fine to me.

[2020-10-14 12:31] CloudyPadmal commented on #145
I was thinking something like just the error message without the whole error log :thinking:

[2020-10-14 12:48] bessman commented on #145
I can see two ways to accomplish that, neither of which I like:

1. Catch the exception and print the error message: `except SerialException as e: print(e)`
Exceptions should not be caught without good reason, and wanting to show the user a nicer looking error message is not a good enough reason.
2. Reduce traceback depth: `import sys; sys.tracebacklimit = 0`
Less bad, but why only here? Should we

[2020-10-14 12:54] bessman opened #146 "Create a CLI application"
Some users might not need the full GUI suite offered by pslab-desktop, but might still want a nicer UX than just typing into the Python REPL. We should create a CLI application that can handle certain common tasks, like collecting samples with the oscilloscope, outputting a waveform, etc.

The CLI should be able to:

1. Collect data from the oscilloscope and logic analyzer.
2. Plot collected data

[2020-10-14 12:55] bessman commented on #145
I opened an issue to create a CLI: #146

Do you think that is an OK solution?

[2020-10-14 13:19] nkpro2000sr commented on #146
can i work on this?

[2020-10-14 13:25] bessman commented on #146
Please do! 😃

[2020-10-14 13:41] bessman commented on #146
@nkpro2000sr Please also take a look at our new [contributor guidelines](https://github.com/fossasia/pslab-python/blob/development/docs/development.rst).

[2020-10-14 15:08] CloudyPadmal commented on #145
Yes, I think that would be a good approach :+1: I'll close this issue to continue.

[2020-10-14 15:08] #145 closed

[2020-10-15 07:40] nikhiltidke101 commented on #146
I would like to work on this. Can I?

[2020-10-15 08:29] bessman commented on #146
Hi @nikhiltidke101. nkpro2000sr has already been assigned this task, and it is not really suitable for multiple people to work on it simultaneously.

We are currently a little short on beginner-friendly tasks, but if you would like to help out I would recommend just starting to use the PSLab and help fix any bugs you encounter. Something is bound to crop up 😃

[2020-10-15 20:43] orangecms commented on #146
I have some examples here for usage, might help a bit: https://github.com/orangecms/pslab-python/tree/examples/examples

[2020-10-16 12:18] nkpro2000sr commented on #146
i have a doubt that, is collecting data from the oscilloscope and logic analyzer has to be collected **until timeout** or **certain interrupt like pressing <kbd>q</kbd>**?

[2020-10-16 12:39] orangecms commented on #146
There are many possibilities like offering an argument to specify a time period. I could imagine subcommands like many modern CLIs offer them, e.g., `pslab collect --instrument oscilloscope --duration 3s --output my-data.json`. What do you think? :)

[2020-10-16 12:53] nkpro2000sr commented on #146
nice :+1:.
while plotting which will be nicer?
while collecting (in live) OR after collected

[2020-10-16 13:10] orangecms commented on #146
You can always plot in various ways afterwards. Keep data separate and reusable. :) The CLI also allows for scripting on a higher level, in a Unix way, so you can combine with other tools through pipes, for example.

We have the desktop app for live plotting already, so there is no need to duplicate that.

[2020-10-16 15:37] nkpro2000sr commented on #146
suggestions please?
[code]

[2020-10-16 15:55] bessman commented on #146
Very nice! The only thing I would add to the help text is a list of available instruments.

[2020-10-16 17:49] orangecms commented on #146
Really cool!
For intuitive use, I would suggest to always print to stdout unless a `-o` option for an output file is given, and default to linewise CSV unless a `-j` / `--json` switch is provided. The allows for any combination thereof then.

[2020-10-16 17:54] orangecms commented on #146
Another little thing: Commands are usually all lowercase. There is already a `psl` command https://docs.bmc.com/docs/PATROLAgent/110/psl-psl-compiler-command-723218465.html#:~:text=The%20psl%20command%20creates%20an,can%20be%20used%20in%20the%20. so I would suggest to go with the full name `pslab`. I will make sure that the name for the desktop app will be `pslab-desktop`, which makes it similar t

[2020-10-16 18:19] nkpro2000sr commented on #146
But, I have planned to create PSL/__main__.py. so, it will be like `python -m PSL ...`.
Also it didn't required any extra setup, just `pip install pslab` would be enough.

[2020-10-16 18:27] bessman commented on #146
You can add the CLI application as either a `scripts` or `console_scripts` entry in setup.py. That way, it can be run directly from the command line as `pslab`, without `python -m ...`.

https://python-packaging.readthedocs.io/en/latest/command-line-scripts.html

[2020-10-16 18:35] nkpro2000sr commented on #146
thanks, i didn't aware of that.

[2020-10-19 22:15] #97 closed

[2020-10-19 22:15] #43 closed

[2020-10-20 07:58] vaibhavarora102 commented on #127
hi @bessman
can you please clarify that in power supply their comes:
1) Motor signalling
2)READ PROGRAM AND DATA ADDRESSES
3)ANALOG OUTPUTS

or any thing else also?
or i any thing less?

thanks

[2020-10-20 11:09] bessman commented on #127
The power supply functionality consists of the methods `set_pv1`, `set_pv2`, `set_pv3`, `set_pcs`, and the associated `get_*` methods. L1292 until L1372 in the current version of sciencelab.py. These methods depend on the `DACCHAN` and `MCP4728` classes from the `Peripherals` module.

These methods and classes should be moved to a new module, `power_supply`. When moving the code, refactor it to co

[2020-10-30 06:31] vaibhavarora102 commented on #127
@bessman  sir kindly unassigne the issue
As I had already wasted much time, and still is quiet confused over this issue
Thanks

[2020-10-30 09:16] bessman commented on #127
Hi @vaibhavarora102, do you mean that you no longer wish to work on this issue, or that you would like to be assigned to it? I forgot to assign you earlier, sorry about that.

If you still want to work on this, I can try to answer any question you might have. Otherwise, no worries, thanks for giving it a try!

[2020-10-30 09:25] vaibhavarora102 commented on #127
Sure if it means that I could ask as many queries as I have, then kindly assign and will work progressively

[2020-10-30 09:26] bessman commented on #127
Of course, ask away and I will do my best to answer.

[2020-10-31 15:40] BHAKTA-VARUN commented on #116
hi everyone,
can i work with you guys
I am a beginner here.
you can assign me any task

[2020-10-31 19:26] bessman commented on #116
Hi @BHAKTA-VARUN, tests are being added as part of the ongoing refactorization effort: #127. Unfortunately it is not really beginner friendly.

Do you have a PSLab device?

[2020-11-02 06:57] BHAKTA-VARUN commented on #116
no sir i don't have  PSLab device

but thank you very much for showing concern. If in any way i can help you
please let me know.
I learnt python and mysql. If you require those skills please let me know.

Finally, please suggest any thing which I can learn to be able to
contribute.

thank you

On Sun, Nov 1, 2020 at 12:57 AM Alexander Bessman <notifications@github.com>
wrote:

[2020-11-11 13:52] bessman commented on #127
Hi @vaibhavarora102, are you still working on this?

[2020-11-11 13:58] vaibhavarora102 commented on #127
Yea am working will create pull request for initial code
Within 2-3 days

[2020-11-17 18:31] vaibhavarora102 commented on #127
@bessman thanks for such patience actually there was some health issue but am fine now and will now proceed with full motivation, some speed

had made initial commits and pull request
kindly check if they are fine
and guide for further proceeding
I assure you to be quick this time
thanks

[2020-11-21 10:50] nkpro2000sr commented on #146
suggestions please?
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-11-21 11:01] orangecms commented on #146
Is there a branch we can check out to play around with it? So far it looks quite nice to me :)

[2020-11-21 12:02] bessman commented on #146
PRs can be checkout out directly:
[code]

@nkpro2000sr The syntax looks good! I'll try it out and come back with more feedback.

[2020-11-21 12:20] orangecms commented on #146
Yea sorry, I missed the draft PR, thank you!

[2020-11-22 08:21] Skynet843 commented on #146
is Issue still open can i work on that?

[2020-11-22 08:23] Skynet843 commented on #127
can i do this work?

[2020-11-28 08:48] nkpro2000sr commented on #146
Any feedback ... :eyes:

[2020-11-28 10:46] bessman commented on #146
Yeah, sorry, been kind of swamped this week. Feedback coming up.

[2020-11-28 11:55] bessman commented on #146
All right, first and foremost, thanks for your patience!

I'll go through the commands in order:

- collect
    - logic_analyzer
        Seems to work well! :+1:
    - oscilloscope
        This one doesn't seem to work. I get no output, either to stdout or to a file with -o.

- wave
    - gen
        Seems to work well! :+1:
    - load
        A table format example would we useful here.

- pwm

[2020-11-28 19:01] nkpro2000sr commented on #146
@bessman
fixed :+1:

[2020-11-28 20:37] bessman commented on #146
Thank you. `pwm map` works well now, and the format example in `wave load` is good. `collect oscilloscope` is still problematic though; it runs for much longer than the set duration. With `--duration 1` it runs for almost a minute.

[2020-11-28 20:51] nkpro2000sr commented on #146
It collects 2e6 samples for a second (-d 1).
I doubt that delay is due to massive samples fetched.

could you please check `scope.capture(1, 2e6, 0.5)` ?

[2020-11-28 20:56] bessman commented on #146
The oscilloscope can't capture more than 1e4 samples at a time, so `scope.capture(1, 2e6, 0.5)` will just complain about that. There is a fair bit of overhead, time wise, between individual capture calls, so capturing 2e6 samples will take a lot longer than just 2e6 * 0.5 * 1e-6.

[2020-11-28 21:12] nkpro2000sr commented on #146
Would increasing time_gap will help?

[2020-11-28 21:34] nkpro2000sr commented on #146
would [this](https://github.com/fossasia/pslab-python/pull/147/commits/e077148570b26772b8d03b430fb181937d0ac286) solves?
[code]

But this would miss some samples.

[2020-11-28 21:47] bessman commented on #146
Yes, that should work. I'll test it tomorrow. Do you not have a device to test with?

Missing samples is unavoidable; after each capture, the 10000 samples (20 kB) must be transferred across the 1 Mbaud serial connection, which takes 160 ms. During that time, no samples can be collected.

[2020-11-28 21:59] nkpro2000sr commented on #146
:+1:

No, i don't have :(

ok :+1:

[2020-11-29 13:19] bessman commented on #146
It works now, well done! I'm impressed you managed to do so much without have the hardware to test against.

Do you think you could also write some tests for the cli module?

[2020-11-30 07:22] nkpro2000sr commented on #146
@bessman
Added tests for CLI. please check.

[2020-12-02 19:52] bessman commented on #146
Thanks!

Could you also write tests for the `logic_analyzer` and `oscilloscope` functions? The other missed lines are OK because they just use already tested interfaces, but those functions contain logic that should ideally be covered.

And one more thing: We are moving from unittest to pytest, so please use pytest-mock instead of unittest.mock. It should be a drop-in replancement.

[2020-12-04 21:36] nkpro2000sr commented on #146
@bessman
Added testes for `logic_analyzer` and `oscilloscope`.

Could you add json traffic recordings for these. Since i don't have device i am not able to generate those json fils.

[2020-12-05 03:10] Dhriti-Roy commented on #100
@AakashMallik  May I work on this

[2020-12-14 12:14] MohitPatni0731 commented on #100
Can I work on this

[2020-12-14 12:14] MohitPatni0731 commented on #133
Can I work on this issue

[2020-12-14 12:15] MohitPatni0731 commented on #127
Can I work on this issue

[2020-12-16 18:31] Radhika14soni commented on #100
Hey, I'm a first time contributor and I would like to work on this. Any guidance would be appreciated. Thanks!

[2020-12-26 12:34] Atri22 commented on #100
I am a first time contributor may I work on this. Any guidance will be appreciated

[2020-12-29 11:54] bessman commented on #146
Thank you @nkpro2000sr, your work has been merged!

[2020-12-29 11:54] #146 closed

[2021-01-10 11:43] mansijain980 commented on #127
@bessman sir, may i start to refactor "Power supply " module ? I am a participant in Codeheat . I can make initial split for power supply. I got how to divide sciencelab.py module into smaller classes.

Please assign this issue to me.
It will be a nice start for me.
Thanks

[2021-01-10 15:01] bessman commented on #127
@mansijain980 Thanks for the offer, but I am already working on it.

[2021-01-10 16:27] mansijain980 commented on #127
I already started working on that but it's fine. I would like to work on "Multimeter" module then.

Can you assign this to me ?

[2021-01-10 16:29] mansijain980 commented on #127
@bessman sir,
I already started working on that but it's fine. I would like to work on "Multimeter" module then.

Can you assign this to me ?

[2021-01-11 08:29] bessman commented on #127
The multimeter refactorization is done. Feel free to open a pull request with the changes that you have so far, perhaps we can incorporate them somehow.

[2021-01-15 14:46] SAP-20 commented on #127
A newbie in the open source contributing.Sir,Could you assign me this project to me??

[2021-01-17 16:21] bessman commented on #127
Hi @SAP-20. We are moving away from assigning issues, and instead encourage contributors to work on whatever interests them, and to open pull requests whenever they are ready to discuss their changes.

This particular issue is just about finished, as of #158. If any of the other open issues seem interesting to you, please go ahead and work on any of them you'd like. No need to wait to be assigned

[2021-01-18 10:40] bessman commented on #127
Most of the useful stuff in sciencelab.py has now been moved to separate modules. It is over 3000 lines of code shorter than it was when this issue was opened. Most of what remains in sciencelab.py is unused and/or broken and should be removed.

[2021-01-18 10:40] #127 closed

[2021-01-18 10:49] bessman commented on #116
Closing this since most built-in instruments now have tests.

[2021-01-18 10:49] #116 closed

[2021-01-18 10:53] bessman commented on #61
Moved to https://github.com/fossasia/pslab-firmware/issues/63.

[2021-01-18 10:53] #61 closed

[2021-01-22 17:27] pratik-99 commented on #133
Hello @bessman can you suggest me where I could learn about the software, firmware and hardware of PSlab I would like to contribute here if I have a general Idea about it

[2021-01-23 08:42] cynthi8 opened #159 "Bug: CH1 and CH2 autorange set incorrectly"
1. Reading a measurement from CH1 or CH2
2. Removing the measurement probes
3. Re-inserting them

yields incorrect results.

When `_voltmeter_autorange`is bypassed by calling `_measure_voltage` directly, this issue does not occur.

**Setup**
I connected CH1 measurement pins to I2C VDD (3.3 V) and GND and ran this code
[code]
**Results**
![PSL_CH1_wrong_voltage](https://user-images.githubuserconten

[2021-01-23 08:47] bessman commented on #159
Fixed in cc9ad37.

[2021-01-23 08:47] #159 closed

[2021-01-23 09:27] cynthi8 commented on #159
Ah ok, sorry, I didn't check. Thanks!

[2021-01-23 09:33] bessman commented on #159
No worries. Good job on finding the bug either way. I'll draft a new release and push it to pypi shortly.

[2021-01-23 09:56] bessman commented on #133
Best way to learn about the hardware is to read the schematics at https://github.com/fossasia/pslab-hardware, as well as datasheets for the individual components.

Firmware, read the source code on https://github.com/fossasia/pslab-firmware.

Software is the current repo.

However, we are probably going to upgrade the PSLab's MCU in the near future. A resource manager written for the current hardw

[2021-01-23 09:56] #133 closed

[2021-01-23 12:13] prajwalbagewadi commented on #100
I to want to be a contributor any suggestions

[2021-01-23 12:29] prajwalbagewadi commented on #100
Sir can send screen shots of sphinx doc

[2021-01-23 12:37] prajwalbagewadi commented on #100
Sir is it this type of a diagram
![images (6)](https://user-images.githubusercontent.com/77821176/105578380-c7eb3680-5da5-11eb-88af-edb719942539.png)

[2021-01-23 12:38] prajwalbagewadi commented on #100
I like to work on updating docs count me in

[2021-01-23 12:49] bessman commented on #100
The docs in question can be found in https://github.com/fossasia/pslab-python/tree/development/docs, and in docstrings of individual classes and methods. The specific issue mentioned in the title was solved by https://github.com/fossasia/pslab-python/pull/141.

The documentation in https://github.com/fossasia/pslab-python/tree/development/docs is largely out of date. For now, we can remove it in f

[2021-01-23 12:49] #100 closed

[2021-01-23 18:33] prajwalbagewadi commented on #100
Ok sir thanks you

On Sat, 23 Jan 2021, 6:19 pm Alexander Bessman, <notifications@github.com>
wrote:

[2021-01-28 04:41] yashvarshney003 opened #164 "Does the library listed in requirement.txt installed itself when we install pslab?"

[2021-01-28 04:42] #164 closed

[2021-01-28 04:42] yashvarshney003 commented on #164
Got this.

[2021-02-09 23:02] arkostin opened #167 "PowerSupply pcs = 0 sets current to max"
Thanks for taking the time to read this :)

Currently, setting the current on the PCS pin in the Power Supply instrument to 0 sets it to the maximum value (3.3e-3).

Here's some code to replicate the behavior:
[code]

Using Python 3.7.9, pslab 2.0.0

[2021-02-10 01:35] bessman commented on #167
Thanks for reporting this. It will be fixed shortly. In the meantime, rest assured the bug is purely aesthetical; the actual current is zero.

[2021-02-10 08:49] #167 closed

[2021-02-10 08:51] bessman commented on #167
Resolved by #168.

[2021-02-25 01:05] orangecms opened #170 "concurrent USB devicss"
Cross-referenced from pslab-desktop:
https://github.com/fossasia/pslab-desktop/issues/673

Please have a look over there, an issue reported with multiple USB serial devices present.

[2021-02-25 08:23] bessman commented on #170
This is already possible by specifying the port name of the second device, e.g:

[code]

However, autodiscovery currently only picks up the first device. That's worth fixing.

[2021-02-26 06:39] cynthi8 opened #171 "Bug: Autorange not working for oscilloscope"
**Issue:**
1. Reading from the multimeter
2. Reading from the oscilloscope
returns incorrect values.

**Test Code**
[code]

**Result**
[code]

I would expect the oscilloscope to return a value around 3.3 V.

[2021-02-26 09:30] cynthi8 commented on #171
Ok, go for it! Should be a quick fix. Checking out #159 might give you some context on how previous auto gain setting bugs were fixed.

[2021-02-26 09:32] bessman commented on #171
@Kartik125 Go ahead. The problem is that the state of the analog input gain is not shared between different instances that use the analog inputs. The easiest way to fix this is for every Oscilliscope instance to always set the most recently selected gain before starting capture.

A more robust solution would be to make AnalogInput into a shared multiton, but that would require significantly more w

[2021-02-26 10:17] Kartik125 commented on #171
I'll keep in mind

On Fri, Feb 26, 2021 at 3:02 PM Alexander Bessman <notifications@github.com>
wrote:

[2021-02-27 11:47] Kartik125 commented on #171
can you guide me where can I find this issue I'm new at this, I will be pleased if you tell me

[2021-02-27 13:10] bessman commented on #171
The issue is caused by the actual gain being different from what the oscilloscope instance thinks it is. Since there is no way to query the device to find out the gain, each oscilloscope instance must keep track of what the gain is. If there are multiple oscilloscope instances, one of them can change the gain without the other instances knowing about it. The next time such an instance captures sam

[2021-02-27 13:34] Kartik125 commented on #171
Thanks, I'll check it out.

On Sat, 27 Feb 2021, 18:40 Alexander Bessman, <notifications@github.com>
wrote:

[2021-02-27 23:19] SwapnilSoni1999 commented on #170
So what is the expected behaviour?

[2021-02-28 00:34] orangecms commented on #170
Here's my suggestion:
Iterate over all USB devices, see if they respond with a PSLab name / version number, and in the desktop app, offer a list. The CLI could report that there are multiple devices available and ask to rerun the command with the device specified through an argument.
That is also the behvior of other tools, e.g., `flashrom`.

What do you think?

[2021-02-28 09:14] bessman commented on #170
That seems like a good solution.

[2021-02-28 19:49] bessman commented on #170
#173

[2021-03-04 08:09] bessman commented on #170
I'm closing this since #173 is merged. Let me know if you think the solution works for pslab-desktop.

[2021-03-04 08:09] #170 closed

[2021-03-04 11:00] orangecms commented on #170
Sounds good, thank you so much! :)

[2021-03-06 19:59] bessman commented on #171
Any progress on this, @Kartik125?

[2021-03-07 11:40] Kartik125 commented on #171
Yes, I am working on it.

On Sun, Mar 7, 2021 at 1:29 AM Alexander Bessman <notifications@github.com>
wrote:

[2021-03-15 20:14] #171 closed

[2021-03-27 08:33] bessman opened #178 "ImportError on Windows"
Version 2.3.1 is broken on Windows because `grp` is unconditionally imported in serial_handler.py. `grp` is a standard library, but only exists on Unix.

[2021-03-27 08:36] bessman commented on #178
Fixed by 8257e8d.

[2021-03-27 08:36] #178 closed

[2021-04-13 09:06] nkpro2000sr opened #179 "Add static read and write methods for `pslab.bus.i2c.I2CSlave`"
I would like to add two static methods in `pslab.bus.i2c.I2CSlave` for the implementation of `pslab.bus.busio`.

1. `I2CSlave.read_from(device: SerialHandler, address: int, bytes_to_read: int) -> bytearray`
2. `I2CSlave.write_to(device: SerialHandler, address: int, bytes_to_write: bytearray)`

OR changing address as optional parameter in `I2CSlave.__init__`

1. `I2CSlave.read_from(address: int, by

[2021-04-18 19:19] bessman commented on #179
Perhaps `pslab.bus.busio.I2C` could keep track of connected slaves with a dictionary? Every time a read of write method is called, check if the address is already in the dictionary. If it is, use the associated slave instance. If not, create a new one and add it to the dictionary.

If that doesn't work, option 1 is preferable, i.e. adding static methods to I2CSlave.

[2021-04-22 04:20] nkpro2000sr commented on #179
OK, I will do with dictionary.

[2021-04-22 04:20] #179 closed

[2021-05-22 14:53] orangecms opened #182 "MLX90614: migrate to new I2C API"

[2021-05-22 15:06] orangecms opened #183 "Migrate from Travis CI"
We need to take care of migrating, it says

That is a week left only :scream:

see e.g. https://travis-ci.org/github/fossasia/pslab-python/builds/772004871

[2021-05-23 20:14] bessman opened #185 "SSD1306: Migrate to new API"

[2021-05-23 20:41] #185 closed

[2021-06-05 09:29] CloudyPadmal opened #208 "Port NONSTANDARD_IO functions"
- [ ] HCSR04

[2021-06-05 15:13] orangecms commented on #183
Update: They have extended the deadline to June 15.

[2021-06-06 08:18] CloudyPadmal commented on #183
Let's migrate to GitHub actions 🙌🏼

[2021-06-06 10:26] bessman commented on #183
That didn't work as well as I had hoped. It seems Github Actions are disabled for this repository. I don't have sufficient permissions to enable them.

[2021-06-06 10:37] orangecms commented on #183
Yes, configuration is necessary first. Otherwise people could do all sorts of fun stuff just by opening PRs. @mariobehling could you provide that and/or grant the access rights? :)

[2021-06-06 10:39] CloudyPadmal commented on #183
Looks like me neither.. @mariobehling can you please check?

[2021-06-07 07:15] #183 closed

[2021-06-08 14:45] nkpro2000sr opened #190 "Refactor I2C"
![I2C](https://yuml.me/diagram/plain;dir:TB;scale:120/class/%5BI2C_Primitive%5D%5E%5BI2C_Master%5D%2C%20%5BI2C_Primitive%5D%5E%5BI2C_Slave%5D%2C%20%5BI2C_Primitive%7C-_device%3A%20SerialHandler%7C%2B__init__(device%3A%20SerialHandler)%3B-_start(address%3A%20int%2C%20mode%3A%20int)%3A%20int%3B-_restart(address%3A%20int%2C%20mode%3A%20int)%3A%20int%3B-_stop()%3B-_wait()%3B-_status()%3A%20int%3B-_con

[2021-06-10 07:14] #190 closed

[2021-06-12 17:39] nkpro2000sr opened #193 "Add busio.I2C"
Circuitpython's [busio](https://circuitpython.readthedocs.io/en/6.3.x/shared-bindings/busio/index.html) compatibility layer for pslab-python.

[2021-06-15 08:22] bessman opened #195 "Add readback parameter for I2C baudrate"
The `I2CMaster` class should store the configured baudrate in a `self.baudrate` variable so that sensors can check if the configured baudrate is compatible.

[2021-06-17 07:36] #193 closed

[2021-06-22 12:15] nkpro2000sr opened #196 "Refactor `pslab.bus.spi.SPI`"
![Class Diagram](https://yuml.me/diagram/plain;dir:TB;scale:120/class/%5BSPI_Primitive%5D%5E%5BSPI_Master%5D%2C%20%5BSPI_Primitive%5D%5E%5BSPI_Slave%5D%2C%20%5BSPI_Primitive%7C-_PPRE_MAP%3A%20list%20of%20int%3B-_SPRE_MAP%3A%20list%20of%20int%3B-_primary_prescaler%3A%20int%3B-_secondary_prescaler%3A%20int%3B-_clock_polarity%3A%20int%3B-_clock_edge%3A%20int%3B-_smp%3A%20int%3B-_device%3A%20SerialHan

[2021-06-24 06:35] CloudyPadmal opened #197 "Implement missing SQR1 and SQR2 functions"
In the previous psl package, there were functions to control SQR1 and SQR2 pins individually. However, they are missing in the latest version and one has to use SQR4 function driving all 4 SQR pins.

With the latest firmware upgrades, it is made possible to generate sine and square waves simultaneously and we need to implement whatever the missing functions referring to the old python package.

Re

[2021-06-24 20:32] bessman opened #198 "Oscilloscope cannot capture three channels"
Oscilloscope.capture raises the follow exception when asked to capture three channels:
[code]

Fix the bug and add a test to check this behavior.

Thanks to @kartikaysharma01 for finding this bug.

[2021-06-24 20:57] bessman commented on #197
We will need to add a way to check the firmware version as well, because I think WAVEGEN->SET_SQR2 is broken in the current version.

[2021-06-24 21:07] CloudyPadmal commented on #197
That's true.. in the old SQR2 function in firmware, the right timer is never turned on making it broken. I wonder if there's a way to trigger it indirectly. 🤔

Now that I'm thinking, it would be nice if we had a getter setter function to access any arbitrary register in firmware.

[2021-07-02 12:30] bessman opened #200 "External device meta data"
Devices in `pslab.external`, such as sensors, motors, and displays, should include some kind of meta data so that front ends like pslab-desktop and pslab-cli can use them without large amounts of custom code.

One possible solution is a JSON file for every supported device, with a structure like this:
[code]
This file specifies that the MLX90614 class has:
- A single mode called "thermometer".
- A

[2021-07-03 20:36] nkpro2000sr commented on #200
Also Adafruit's drivers which uses CircuitPython-busio can be included with external sensors, since pslab-python has busio now.

Example:
[code]

[code]

[2021-07-10 11:29] nkpro2000sr opened #201 "Update external sensors to support this new bus APIs."
Many sensors in `pslab/external/*` need to be updated to support new changes in pslab bus APIs.

[2021-07-25 13:28] viric commented on #116
Is it possible that tests for 'external' fail today? It seems there is outdated code. How do you run the tests currently?

[2021-07-26 08:39] bessman commented on #116
Tests are run with `tox -e playback` (using recorded serial traffic, requires no hardware) or `tox -e integration` (requires hardware). There are only a few tests for external right now, because as you noticed most of that code is outdated. The tests that do exist are passing.

[2021-08-02 12:50] #196 closed

[2021-08-05 15:36] Himanshublack commented on #201
can I work on this issue

[2021-11-02 08:07] elfring opened #206 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

[code]

[2021-11-02 15:39] bessman commented on #206
Sure, that's a good idea. However, this particular module (MF522) is most likely broken since no active developer has access to that sensor. We can only accept a pull request with this kind of improvement if it also fixed the module itself.

[2021-11-09 20:59] #198 closed

[2021-11-24 15:18] Bhoomikasonkamble opened #207 "bhoomikasonkamble"
i want to work on this issue

[2021-11-24 15:18] #207 closed

[2022-03-23 16:02] CloudyPadmal commented on #208
https://github.com/fossasia/pslab-firmware/pull/118#issuecomment-1076290022

[2022-04-03 06:55] #208 closed

[2022-04-05 12:38] cloudishBenne opened #210 "Oscillosope data samples amount"
I don't know if it is my lack of understanding the usage of the oscilloscope module or if i found a bug. But whatever timedelta i use, i cannot get above 229 samples per measurement. Could somebody help me there?
I have the v5 hardware.

[2022-04-05 15:30] bessman commented on #210
Could you show a piece of code that reproduces your issue? It's difficult to say what the problem might be without seeing what you are trying to do.

[2022-05-06 05:57] bessman commented on #210
Closing due to lack of feedback.

[2022-05-06 05:57] #210 closed

[2022-11-17 09:06] viric opened #212 "Trigger setting not working in Pslab v5 board"
I'm trying a very simple set up, with an electrical signal in CH1, trigger in CH1 at 1V, and the enabling the "trigger" setting makes no difference. It keeps on updating the display as if it were not checked.
I tested the Android and the pslab-desktop app, and also the pslab-python alone (with the oscilloscope capture() trigger parameters and also with configure_trigger()).
Maybe it's a bug in the

[2022-11-17 17:35] bessman commented on #212
Yeah, the trigger can be a little finicky. Do you know roughly what the signal looks like, and what its frequency is? One possible reason for the trigger not working is that it times out waiting for the trigger condition to be met. The timeout is 6.25 ms, so if your signal has a frequency less than 200 Hz or so the trigger might be timing out.

Check if the trigger works on a signal generated by t

[2022-11-17 18:09] viric commented on #212
Ah sure, I tried a 50Hz signal, and the other was a serial line frame that came once in a while.

How can I get a normal trigger implementation? How does one compile a new firmware (on linux) and flash it to a v5 board? Only with a PIC programmer?

[2022-11-17 19:23] bessman commented on #212
The timeout can be increased, and even disabled entirely, with the `timeout` argument of `configure_trigger`. It's a prescaler, so a value of 1 doubles the timeout to 12.5 ms, 2 doubles it again 25 ms, and so on.

To disable the trigger timeout, set the timeout prescaler such that:
`timegap * 4 / timeout < 1`

The v5 has no bootloader, so flashing new firmware requires a hardware programmer like a

[2022-11-17 19:53] bessman commented on #212
On second thought, disabling the timeout is only possible for high sample rates / small timegaps < 4 us. This is because the timegap prescaler is only one nibble wide, i.e. its maximum value is 15.